<div ng-include="'app/views/nav.html'"></div>

<div class="container" style="padding-top: 40px;">
  <h1 class="page-header">Painel de Gestão </h1>  
  <div class="bs-callout bs-callout-info" id="callout-type-b-i-elems">
    <h2>Edição de Senha </h2>  
  </div>
  
  <form>
    <label>Nome:</label>
    <input type="text" readonly />
    
    <label>Senha atual:</label>
    <input type="password" required />

    <label>Nova senha:</label>
    <input type="password" required />

  </form>

</div><!-- /.container -->