<div ng-include="'app/views/nav.html'"></div>

<div ng-if="viewLoading" class="loading">
  <img class="loading-gif" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
</div>


<div class="container" style="padding-top: 40px;">
  <h1 class="page-header">Painel de Gestão </h1>  
  <div class="bs-callout bs-callout-info" id="callout-type-b-i-elems">
    <h2>Consulta {{typeSearch}}</h2>  
  </div>
  
  <form novalidate name="SearchApp" ng-submit="searchItens()">
	<div class="row">
		
		<div class="col-lg-6" ng-class="{'has-error' : SearchApp.filter_where.$invalid || SearchApp.filter_where.$pristine}">
			<select name="filter_where" class="form-control" ng-model="typeSearch" required>
				<option id="1" value="por número de Cliente">Número do Cliente</option>
				<option id="2" value="por número da OS">Número da OS</option>
				<option id="3" value="por número da NF">Número da NF</option>
			</select>
		</div>
		<div class="col-lg-6">
			<div class="input-group" ng-class="{'has-error' : SearchApp.filter_q.$invalid || SearchApp.filter_q.$pristine}">
				<input name="filter_q" ng-minlength="6" ng-maxlength="9" type="text" class="form-control" placeholder="" ng-model="itenSearch" required>
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit" ng-disabled="SearchApp.$invalid">Consultar</button>
				</span>
			</div>
		</div>
		
	</div>
	<p ng-show="SearchApp.filter_q.$error.maxlength" class="help-block">9 é o número máximo de caracteres.</p>
	<p ng-show="SearchApp.filter_q.$error.minlength" class="help-block">6 é o número mínimo de caracteres.</p>
		
  </form>

  <hr/>
  <div class="row">
	  <div class="col-lg-12">
	  	<h4>Não foi encontrado o item {{itenSearch}} na consulta do {{typeSearch}}.</h4>
	  </div>
  </div>

  <div class="row">
  	<div class="col-lg-12">
		<table class="table table-hover table-bordered">
			<tr class="info">
				<td>Cod. Cliente/Loja</td>
				<td>Nome do Cliente</td>
			</tr>
			<tr>
				<td>...</td>
				<td>...</td>
			</tr>
		</table>
  	</div>
  </div>

  <div class="row">
  	<div class="col-lg-4">
		<table class="table table-hover table-bordered">
			<tr class="info">
				<td>Número do Pedido</td>
				<td>Data do Pedido</td>
			</tr>
			<tr>
				<td>...</td>
				<td>...</td>
			</tr>
		</table>
  	</div>
  	<div class="col-lg-4">
		<table class="table table-hover table-bordered">
			<tr class="info">
				<td>Número da OS</td>
				<td>Data da OS</td>
			</tr>
			<tr>
				<td>...</td>
				<td>...</td>
			</tr>
		</table>
  	</div>
  	<div class="col-lg-4">
		<table class="table table-hover table-bordered">
			<tr class="info">
				<td>Número da NF</td>
				<td>Data da NF</td>
			</tr>
			<tr>
				<td>...</td>
				<td>...</td>
			</tr>
		</table>
  	</div>
  </div>

  <div class="row">
  	<div class="col-lg-6">
		<table class="table table-hover table-bordered">
			<tr class="info">
				<td>Inicio da Separação</td>
				<td>Separado por</td>
				<td>Fim da Separação</td>
			</tr>
			<tr>
				<td>...</td>
				<td>...</td>
				<td>...</td>
			</tr>
		</table>
  	</div>

  	<div class="col-lg-6">
		<table class="table table-hover table-bordered">
			<tr class="info">
				<td>Inicio da Conferência</td>
				<td>Conferido por</td>
				<td>Fim da Conferência</td>
			</tr>
			<tr>
				<td>...</td>
				<td>...</td>
				<td>...</td>
			</tr>
		</table>
  	</div>
  </div>

  <div class="row">
  	<div class="col-lg-12">
		<table class="table table-hover table-bordered">
			<tr class="info">
				<td>Pesado por</td>
				<td>Peesado em</td>
				<td>Expedido por</td>
				<td>Embarcado em</td>
			</tr>
			<tr>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>...</td>
			</tr>
		</table>
  	</div>
  </div>

  <div class="row">
  	<div class="col-lg-12">
		<table class="table table-hover table-bordered">
			<tr class="info">
				<td>DT Ent. Destino</td>
				<td>Hora de Entrada</td>
				<td>Ocorrência</td>
			</tr>
			<tr>
				<td>...</td>
				<td >...</td>
				<td>...</td>
			</tr>
			<tr class="info">
				<td colspan="2">Informações Complementares</td>
				<td>Transportadora</td>
			</tr>
			<tr>
				<td colspan="2">...</td>
				<td>...</td>
			</tr>
		</table>
  	</div>
  </div>

</div><!-- /.container -->