<div class="col-md-6">
	<p class="input-group">
	  <input type="text" 
			class="form-control" 
			datepicker-popup="{{format}}" 
			ng-model="dt" 
			is-open="opened" 
			max-date="maxDate" 
			datepicker-options="dateOptions" 
			date-disabled="disabled(date, mode)" 
			close-on-date-selection="true"					
			show-button-bar="false"
			show-weeks="false"/>
	  <span class="input-group-btn">
		<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	  </span>
	</p>
</div>