    
    <nav class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home" style="padding: 10px 15px 10px 5px;background: white;"><img src="img/logo.jpg"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ng-if="accessSeparacao" ng-class="{active: activetab == '/portal-niazi/separacao'}"><a href="separacao">Separação</a></li>
            <li ng-if="accessConferencia" ng-class="{active: activetab == '/portal-niazi/conferencia'}"><a href="conferencia">Conferência</a></li>
            <li ng-if="accessExpedicao" ng-class="{active: activetab == '/portal-niazi/expedicao'}"><a href="expedicao">Expedição</a></li>
            <li ng-if="accessCadastro" ng-class="{active: activetab == '/portal-niazi/cadastro'}"><a href="cadastro">Editar Senha</a></li>
			<li ng-if="accessCadastro" ng-class="{active: activetab == '/portal-niazi/'}"><a href="/portal-niazi/">Sair</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>